/* General Styles */
body {
  background-image: url('images/rocket.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Space Grotesk', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
nav a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin-left: 15px;
  transition: 0.2s ease-in-out;
}
nav a:hover{
  color: #007aff;
}
nav a img {
  vertical-align: middle;
  margin-right: 8px;
}
.info-section {
  text-align: center;
  color: white;
  margin-top: 100px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.card {
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.384);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 50px;
  height: 50px;
}
.card h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #636363;
}
.card-link {
  text-decoration: none;
}

/* Specific Styles */
#how-to-use {
  color: #ffffffd3;
}
#how-to-use:hover{
  color: #007aff;
}

h2, #mimir {
  font-size: 1.5rem;
}

/* Shepherd Tour Styles */
.shepherd-element {
  border-radius: 12px;
  font-family: 'Space Grotesk', sans-serif;
  padding: 20px;
  background-color: rgb(65, 65, 65);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.shepherd-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.shepherd-text {
  overflow: hidden;
  font-size: 16px;
  color: #333;
}
.shepherd-button {
  background-color: #007aff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.shepherd-button:hover {
  background-color: #005bb5;
}

/* Simplified Shepherd classes */
.shepherd-header,
.shepherd-footer {
  background: transparent;
  border: none;
}
.shepherd-text {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 0.8rem;
  color: whitesmoke;
}
