body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #161618;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.keyboard {
    background-color: rgba(255, 255, 255, 0.25);  
    backdrop-filter: blur(5px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-block;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.key {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #e0e0e0;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    color: #333;
    font-size: 14apx;
    padding: 8px 16px;
    margin: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.key:hover {
    background-color: #d0d0d0;
}

.key:active {
    background-color: #929090;
}

.half {
    flex: 1;
}

.one-and-a-half {
    flex: 1.5;
}

#spacebar{
    width: 45%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#ipInputContainer {
    color:#929090;
    margin-bottom: 5%;
}

#ipInput
{
    font-family: 'Space Grotesk', sans-serif;
    border-style: none;
    background-color: #d0d0d0;
    border-radius: 8px;
    height: 70%;
}

.shepherd-element {
border-radius: 12px;
font-family: 'Space Grotesk', sans-serif;
padding: 20px;
background-color: rgb(170, 170, 170);
}
.shepherd-title {
font-size: 20px;
font-weight: bold;
margin-bottom: 10px;
}
.shepherd-button {
background-color: #007aff;
color: white;
border: none;
padding: 10px 20px;
border-radius: 8px;
font-size: 14px;
cursor: pointer;
transition: background-color 0.3s;
}
.shepherd-button:hover {
background-color: #005bb5;
}

.shepherd-header,
.shepherd-footer {
background: transparent;
border: none;
}
.shepherd-text {
overflow: hidden;
font-family: 'Space Grotesk', sans-serif;
font-size: 0.8rem;
color: #333;
}
